<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894976499984-b58utp2d6io9e3f0ck519lg4b0re3bcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894976499984-b58utp2d6io9e3f0ck519lg4b0re3bcj</string>
	<key>API_KEY</key>
	<string>AIzaSyA-tI4Xh5_P_BlA_1E_aYhBWYKwCQRdpTM</string>
	<key>GCM_SENDER_ID</key>
	<string>894976499984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skttech.eightyninerider</string>
	<key>PROJECT_ID</key>
	<string>rider-8704e</string>
	<key>STORAGE_BUCKET</key>
	<string>rider-8704e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894976499984:ios:e65bc7dc05c8c31460c595</string>
</dict>
</plist>